<div class="layer"></div>
	<!-- Mobile menu overlay mask -->
<div id="preloader">
<div data-loader="circle-side"></div>
</div>
<app-top-bar></app-top-bar>
<main>
    <div id="results">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4>Mostrando resultados</h4>
                </div>
                <div class="col-md-6">
                    <div class="search_bar_list" data-step="2" data-intro="Busca tu psicólogo por nombre">
                        <input type="text" class="form-control" placeholder="Ej. Nombre, Especialización ...." id="textSearch" />
                        <input type="submit" value="Buscar" id="submit" />
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /results -->

    

    <div class="container margin_60_35">
        <div class="row">
            <div class="col-lg-7" id="psicologos" data-step="1" data-intro="Aquí selecciona tu psicólogo">
                <div  *ngFor="let psicologo of psicologos" class="strip_list wow fadeIn psicologo">
                    <a href="#0" class="wish_bt"></a>
                    <figure>
                      <a href="detail-page-2.html">
                        <img src="{{psicologo.UsuarioPsicologo.imagen}}" alt=""/>
                      </a>
                    </figure>
                <small>{{psicologo.especialidad}}</small>
                    <h3 class="nombrePsicologo">{{psicologo.UsuarioPsicologo.nombre}}</h3>
                    <p>
                      {{psicologo.descripcion}}
                    </p>
                    <span class="rating">
                      <i class="icon_star voted"></i>
                      <i class="icon_star voted"></i>
                      <i class="icon_star voted"></i>
                      <i class="icon_star"></i>
                      <i class="icon_star"></i> <small>(4.5)</small>
                    </span>
                    <a
                      href="badges.html"
                      data-toggle="tooltip"
                      data-placement="top"
                      data-original-title="Badge Level"
                      class="badge_list_1"
                    >
                      <img src="img/badges/badge_1.svg" width="15" height="15" alt="" />
                    </a>
                    <ul>
                      <li>
                        <a
                          href="#0"
                          onclick="onHtmlClick('Piscólogos', 0)"
                          class="btn_listing"
                        >
                          Ver en el mapa
                        </a>
                      </li>
                      <li>
                        <a
                          href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53642.158314568944!2d-79.9372139491017!3d-2.1623513053034555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x674a1c7815b63297!2sCiap%20Centro%20Integral%20De%20Atenci%C3%B3n%20Psicol%C3%B3gica!5e0!3m2!1ses-419!2sec!4v1595607537226!5m2!1ses-419!2sec"
                          target="_blank"
                        >
                          Directions
                        </a>
                      </li>
                      <li>
                        <a href="detail-page-2.html">Agenda ahora</a>
                      </li>
                    </ul>
                  </div>
                
            </div>
            <!-- /col -->

            <aside class="col-lg-5" id="sidebar">
                <div id="map_listing" class="normal_list"></div>
            </aside>
            <!-- /aside -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</main>
<app-footer></app-footer>
