<header class="header_sticky">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-6">
                <div id="logo_home" class="col-sm-3">
                    <h1><a href="index.html" title="PSYCHOBOOKING">PSYCHOBOOKING</a></h1>
                </div>
            </div>
            <nav class="col-lg-9 col-6">
                <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="#0"><span>Menu mobile</span></a>
                <ul id="top_access">
                    <li><a href="login.html"><i class="pe-7s-user"></i></a></li>
                    <li><a href="register.html"><i class="pe-7s-add-user"></i></a></li>
                </ul>
                <div class="main-menu">
                    <ul>
                        <li><a href="index.html">Principal</a></li>
                        <li><a href="blog-1.html">Noticias</a></li>
                        <li><a href="register-doctor.html">Registrar Psicólogo</a></li>
                        <li><a href="about.html">Sobre nosotros</a></li>
                        <li><a href="contacts.html">Contactenos</a></li>
                        <li><a href="faq.html">Faq page</a></li>
                        
                    </ul>
                </div>
                <!-- /main-menu -->
            </nav>
        </div>
    </div>
    <!-- /container -->
</header>
