<div class="layer"></div>
	<!-- Mobile menu overlay mask -->


<main>
    <div id="hero_register">
        <div class="container margin_120_95">			
            <div class="row">
                <div class="col-lg-6">
                    <h1>Llegó la hora de encontrarte!</h1>
                    <p class="lead">Esta es la opción que necessitas tú, tus pacientes y tus futuros pacientes.En esta plataforma encontrarás las formas más fáciles y ágiles para agendar tus citas.</p>
                    <div class="box_feat_2">
                        <i class="pe-7s-map-2"></i>
                        <h3>Deja que tus pacientes te encuentren!</h3>
                        <p>Proporcionaremos tu ubicación a fin de que los pacientes que quieran tu servicio te encuentren fácilmente.</p>
                    </div>
                    <div class="box_feat_2">
                        <i class="pe-7s-date"></i>
                        <h3>Maneja fácilmente tus citas</h3>
                        <p>Nunca había sido tan fácil el manejo de todas las citas que tengas, queremos ayudarte y organizar todo sin que tú te des cuenta.</p>
                    </div>
                    <div class="box_feat_2">
                        <i class="pe-7s-phone"></i>
                        <h3>Incluso desde tu celular</h3>
                        <p>Con nuestra aplicación móvil, podrás realizar todos los procesos que necesites sin necesidar de usar tu computadora, lo hacemos fácil, lo hacemos por tí.</p>
                    </div>
                </div>
                <!-- /col -->
                <div class="col-lg-5 ml-auto">
                    <div class="box_form">
                        <form (ngSubmit)="registrarPsicologo()"#form="ngForm">
                            <div class="row">
                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="nombre" placeholder="Nombre" [(ngModel)]="psicologo.nombre">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="edad" placeholder="Edad" [(ngModel)]="psicologo.UsuarioPsicologo.edad">
                                    </div>
                                </div>
                            </div>
                            <!-- /row -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="descripcion" placeholder="Especialización" [(ngModel)]="psicologo.UsuarioPsicologo.descripcion">
                                    </div>
                                </div>
                            </div>
                            <!-- /row -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="telefono" placeholder="Teléfono celular" [(ngModel)]="psicologo.telefono">
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="direccion" placeholder="Direccion" [(ngModel)]="psicologo.UsuarioPsicologo.direccion">
                                    </div>
                                </div>
                                
                            </div>
                            <div class="form-group mapa">
                                <div #map class="map"></div>
                            </div>
                            <!-- /row -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email" placeholder="Correo Electrónico" [(ngModel)]="psicologo.email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input type="password" class="form-control" name="contrasena" placeholder="Contrasena" [(ngModel)]="psicologo.contrasena">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="imagen" placeholder="Url imagen" [(ngModel)]="psicologo.imagen">
                                    </div>
                                </div>
                            </div>
                            <!-- /row -->
                            <p class="text-center add_top_30"><input type="submit" class="btn_1" value="Enviar"></p>
                            <div class="text-center"><small>Al hacer click en enviar aceptarás los términos y nos permitirás contactarte con el fin de proporcionarte mayor información.</small></div>
                        </form>
                    </div>
                    <!-- /box_form -->
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /hero_register -->
</main>